/* 
font-family: 'Lobster',
cursive;
font-family: 'Poppins',
sans-serif;
font-family: 'Yeseva One',
cursive;
*/
body{
    font-family: 'Poppins',
            sans-serif;
}
section{
    margin-left: 150px;
}
h1{
    font-size: 60px;
    font-family: 'Yeseva One',cursive;
}
.container-section{
    display: flex;
}
.half-width{
    width: 45%;
}
.half-width img{
    width: 90%;
}
.top-heading-border{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
    padding-left: 15px;
}
.orange-heading{
    color: #FFAD5A;
}
.red-button{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 8px 24px;
    border-radius: 5px;
}